/**
 * 请注意，因为这个脚手架开启了PX转REM,所以如果有NPM插件组件不希望PX被转成REM的请不要在这里导入样式，而是直接在index.tsx中导入
 */

$theme: (
  default: (
    main: #d52932,
    vice: #4bbc73,
    text: #151515,
    fore: #ffffff,
    back: #f8f8f8,
    link: #0067b8,
    code: #dd1144,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #08a5e4
  )
);
@import '~@mcui/core';
@import '../../npm/theme/toast@aa.scss';

html,
body {
  height: 100%;
}
body {
  font-size: 28px;
}

#root {
  width: 750px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

// 组件
@import './home.scss';
@import './demo.scss';
@import './popupDemo.scss';
